<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand"routerLink="home"><img src="/assets/images/y-logo.png">Yumito</a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNav" >
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#Aboutcanvas" aria-controls="Aboutcanvas">About</a>
          </li>
          <li class="nav-item" *ngIf="!isUserLoggedIn">
            <a  class="nav-link" routerLink="login">Login</a>
            
          </li>
          <li class="nav-item" *ngIf="!isUserLoggedIn">
            <a class="nav-link" routerLink="signup">Sign up</a>
          </li>
          <li class="nav-item" *ngIf="isUserLoggedIn">
            <a class="nav-link" routerLink="checkout"><i class="fa fa-cart-plus" aria-hidden="true"><span class="badge">{{orderD}}</span></i>
            </a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="isUserLoggedIn"><i class="fa fa-user-circle" aria-hidden="true"></i>{{userName}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="*" (click)="Logout()" *ngIf="isUserLoggedIn">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
 
  
  <div class="offcanvas offcanvas-start" tabindex="-1" id="Aboutcanvas" aria-labelledby="AboutcanvasLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="AboutcanvasLabel">Who we are?</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <hr>
    <div class="offcanvas-body">
      <p>
        Our technology platform connects customers,
        restaurant partners and delivery partners, serving
        their multiple needs. Customers use our platform
        to search and discover their favourite food items,
        read abd write customer generated reviews, offer
        various deal on food items, order food delivery
        and make payments while dining-out at
        restaurant. We provide high quality food items
        delivered within short time.
      </p>
      <hr>
      <a routerLink="productmenu"><button class="button" style="border-radius: 40%; border-color: yellow; text-emphasis-color: yellow;" >Menu</button></a> &nbsp;&nbsp;
      <a routerLink="login"><button class="button" type="button" style="border-radius: 40%; border-color: blue; text-emphasis-color: blue;" >Login</button></a> &nbsp;&nbsp;
      <a routerLink="signup"><button class="button" type="button" style="border-radius: 40%; border-color: green; text-emphasis-color: green;" >Sign up</button></a> &nbsp;&nbsp;
      <a ><button class="button" type="button" style="border-radius: 40%; border-color: orange; text-emphasis-color: orange;" data-bs-toggle="offcanvas" data-bs-target="#offerdrawer" aria-controls="offerdrawer">Offer</button></a>
    </div>
  </div>


  