<footer class="page-footer font-small purple pt-4 fixed-bottom">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
         
          <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#Aboutcanvas" aria-controls="Aboutcanvas">About</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link" routerLink="contactus">ContactUs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="productmenu">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="home">Home</a>
              </li>
              <li class="nav-item">
                <!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                  Offers
                </button> -->
                <a class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#offerdrawer" aria-controls="offerdrawer">Offers</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
     
  </footer>
  <!-- Footer -->
 
  <div class="offcanvas offcanvas-start" tabindex="-1" id="Aboutcanvas" aria-labelledby="AboutcanvasLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="AboutcanvasLabel">Who we are?</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <hr>
    <div class="offcanvas-body">
      <p>
        Our technology platform connects customers,
        restaurant partners and delivery partners, serving
        their multiple needs. Customers use our platform
        to search and discover their favourite food items,
        read abd write customer generated reviews, offer
        various deal on food items, order food delivery
        and make payments while dining-out at
        restaurant. We provide high quality food items
        delivered within short time.
      </p>
      <hr>
      <a routerLink="productmenu"><button class="button" style="border-radius: 40%; border-color: yellow; text-emphasis-color: yellow;" >Menu</button></a> &nbsp;&nbsp;
      <a routerLink="login"><button class="button" type="button" style="border-radius: 40%; border-color: blue; text-emphasis-color: blue;" >Login</button></a> &nbsp;&nbsp;
      <a routerLink="signup"><button class="button" type="button" style="border-radius: 40%; border-color: green; text-emphasis-color: green;" >Sign up</button></a> &nbsp;&nbsp;
      <a ><button class="button" type="button" style="border-radius: 40%; border-color: orange; text-emphasis-color: orange;" data-bs-toggle="offcanvas" data-bs-target="#offerdrawer" aria-controls="offerdrawer">Offer</button></a>
    </div>
  </div>


  
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offerdrawer" aria-labelledby="offerdrawer">
    <div class="offcanvas-header" style="background: yellow;" >
      <h5 class="offcanvas-title" id="offerdrawerlable">Offers & Deals</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="row d-flex ml-3">
        <div class="col col-md-12 row container-fluid" style="margin-right: unset;">
        <div style="margin-left: auto; height: 89%; background-color: red;"  class="card flex-md-row mb-4 shadow-sm h-md-250">
           <div class="card-body d-flex flex-column">
              <h3 style="color: white ;" class="text-center">Upto</h3> 
              <h2 style="color: white ;" class="text-center">100 Off </h2>
             <p style="color: white ;" class="text-center"> on bill value of 599 or more </p>
           </div>
        </div>
      </div>
      </div>
      <hr>
      <div class="row d-flex ml-3">
        <div class="col col-md-12 row container-fluid" style="margin-right: unset;">
        <div style="margin-left: auto; height: 89%; background-color: red;"  class="card flex-md-row mb-4 shadow-sm h-md-250">
          <div class="card-body d-flex flex-column">
            <h3 style="color: white ;" class="text-center">Upto</h3> 
            <h2 style="color: white ;" class="text-center">200 Off </h2>
           <p style="color: white ;" class="text-center"> on bill value of 999 or more </p>
         </div>
        </div>
      </div>
      </div>
      <hr>
      <div class="row d-flex ml-3">
        <div class="col col-md-12 row container-fluid" style="margin-right: unset;">
        <div style="margin-left: auto; height: 89%; background-color: red;"  class="card flex-md-row mb-4 shadow-sm h-md-250">
          <div class="card-body d-flex flex-column">
            <h3 style="color: white ;" class="text-center">Upto</h3> 
            <h2 style="color: white ;" class="text-center">300 Off </h2>
           <p style="color: white ;" class="text-center"> on bill value of 1300 or more </p>
         </div>
        </div>
      </div>
      </div>
      
    </div>
  </div>