<!-- <div>
        Username:<input type="text" [(ngModel)]="userName"/>
        Password:<input type="password" [(ngModel)]="password"/>
        <button (click)="onLogin()">Login</button>
<p>{{error}}</p>
        <br/><br/>
  <p>Do not have account?| <a routerLink="/signup" class="btn btn-link">Register Here </a></p>
</div> -->


<section class="vh-100 background-radial-gradient overflow-hidden">
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                class="img-fluid" alt="Sample image">
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
              <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
              <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
      
              <div class="card bg-glass">
                <div class="card-body px-4 py-5 px-md-5">
              <form [formGroup]="LoginForm" (ngSubmit)="onLogin()">
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3">Email address</label>
                  <input type="email" formControlName="email" [(ngModel)]="email" name="email" required class="form-control form-control-lg"
                    placeholder="Enter a valid email address" />
                  
                  <div *ngIf="LoginForm.controls['email'].invalid && LoginForm.controls['email'].touched" class="alert alert-danger">
                        <small class="errormsg" *ngIf="LoginForm.controls['email'].errors?.['required']">Please enter email</small>
                    </div>
                </div>
               
      
                <!-- Password input -->
                <div class="form-outline mb-3">
                <label class="form-label" for="form3Example4">Password</label>
                  <input type="password" formControlName="password" [(ngModel)]="password" name="password" required class="form-control form-control-lg"
                    placeholder="Enter password" />
                  <div *ngIf="LoginForm.controls['password'].invalid && LoginForm.controls['password'].touched" class="alert alert-danger">
                        <small class="errormsg" *ngIf="LoginForm.controls['password'].errors?.['required']">Please enter password</small>
                    </div>
                </div>
      
                <div class="text-center text-lg-start mt-4 pt-2">
                  <button type="submit" class="btn btn-primary btn-block mb-4">
                    Login
                  </button>
                  <!-- <button type="button" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="onLogin()">Login</button> -->
                  <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a routerLink="/signup"
                      class="link-danger">Register</a></p>
                </div>
      
              </form>
            </div>
          </div>
        </div>
        </div>
        </div>
        <!-- <div
          class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary"> -->
          <!-- Copyright
          <div class="text-white mb-3 mb-md-0">
            Copyright © 2020. All rights reserved.
          </div> -->
        <!-- </div> -->
      </section>

<!-- <form [formGroup]="LoginForm">

        <div class="form-group">
            <label for="my-input">Email:</label>
            <input class="form-control" type="text" formControlName="email" [(ngModel)]="email" name="email" required>
        </div>
        <div *ngIf="LoginForm.controls['email'].invalid && LoginForm.controls['email'].touched">
            <small class="errormsg" *ngIf="LoginForm.controls['email'].errors?.['required']">Please enter email</small>
        </div>
       
        <div class="form-group">
            <label for="my-input">Password:</label>
            <input class="form-control" type="text" formControlName="password" [(ngModel)]="password" name="password" >
            <div *ngIf="LoginForm.controls['password'].invalid && LoginForm.controls['password'].touched">
                <small class="errormsg" *ngIf="LoginForm.controls['password'].errors?.['required']">Password must contain more than 8 characters, 1 upper case letter, and 1 special character</small>
            </div>
        </div>

        <button (click)="onLogin()">Login</button>

        <div>
                
        </div>
    </form> -->
    