.login-container{
    max-width: 400px; 
    margin: 60px auto 0;
  }
  
  .error{
    color: tomato; 
    font-size: 12px; 
    padding-top: 4px
  }

  .errormsg{
    color: tomato; 
    font-size: 14px; 
    padding-top: 4px
  }