<div>
   <div class="row">
     <div class="col col-md-5 row container-fluid" style="margin-right: unset;">
     <div style="margin-left: auto; height: 89%;"  class="card flex-md-row mb-4 shadow-sm h-md-250">
        <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="{{ItemDetails.img}}" style="width: 200px; height: 196px;">
        <div class="card-body d-flex flex-column align-items-start" >
           <strong class="d-inline-block mb-2 text-primary">{{ItemDetails.itemName}}</strong>
           <p class="card-text"><img src="/assets/images/vagitarianLogo.png" alt="image" style="width: 20px;">&nbsp;{{ItemDetails.vegan}}</p>
           <p class="card-text">{{ItemDetails.price|currency:'INR'}}</p>
         
        </div>
       
     </div>
   </div>
   </div>