<div class="container">
    <div style="text-align:center">
      <h2>Contact Us</h2>
    </div>
    <div class="row">
      <div class="column">
        <img src="/assets/images/restaurant.jpg" style="width:100%; height: 100%;">
      </div>
      <div class="column">
        <form [formGroup]="contactusForm">
          <label for="fname">First Name</label>
          <input type="text" formControlName="fname" [(ngModel)]="fname" id="fname" name="firstname" placeholder="Your name..">
          <label for="lname">Last Name</label>
          <input type="text" id="lname" formControlName="lname" [(ngModel)]="lname" name="lastname" placeholder="Your last name..">
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" formControlName="subject" [(ngModel)]="subject" name="lastname" placeholder="Write something.." style="height:170px"></textarea>
          <button type="submit" class="btn btn-primary btn-block mb-4" (click)="onContactUs()">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <br/>