
<div class="col-md-12 mt-5 p-5 d-flex justify-content-center">
<div class="card d-flex text-center" style="width: 18rem;">
    <img src="/assets/images/menu.jpg" class="card-img-top" alt="...">
    <div class="card-body"> 
      <h4 class="card-text text-primary"> Order your favourite food</h4>
      <a routerLink="productmenu"><p class="card-text">check the Menu <button class="fa fa-arrow-right actve text-dark"></button></p></a>
    </div>
</div>
</div>


<div class="d-flex p-4 ml-5">
    <h3 style="color: lightgray;"></h3><br/>
</div>
  
   